<!doctype html>
<html>
<head>
    <title>Migration Helper Spring Quarkus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <h1>Migration Helper Spring Quarkus</h1>
    <h2>Report for project: $projectName</h2>
    <h2>Java version: $javaVersion. Quarkus minimum is Java 11</h2>
    <h2>Blacklist</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Package</th>
            <th>Description</th>
        </tr>
        #foreach( $blacklistEntry in $blacklist )
        <tr>
            <td>$blacklistEntry.ruleId</td>
            <td>$blacklistEntry.nameOfPackage</td>
            <td>$blacklistEntry.description</td>
        </tr>
        #end
    </table>
    <h2>Reflection Usage</h2>
        <table>
            <tr>
                <th>Class</th>
                <th>Package</th>
            </tr>
            #foreach( $reflectionUsage in $reflectionUsageList )
            <tr>
                <td>$reflectionUsage.nameOfClass</td>
                <td>$reflectionUsage.nameOfPackage</td>
            </tr>
            #end
        </table>
</body>
</html>